<div class="container card-container">
    <div class="card" *ngFor="let user of userList">
        <div class="row">
            <div class="column">
                <div>
                    <div class="card-header">
                        <div class="col-md-3">
                            <label for="name">Name:</label>
                        </div>
                        <div class="col-md-3">
                            <input [(ngModel)]="user.name" [value]="user.name" />
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3"><label for="name">Email:</label></div>
                            <div class="col-md-3"><input [(ngModel)]="user.email" [value]="user.email" /></div>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="user.admin"
                                    [ngModelOptions]="{standalone: true}"> Admin</label>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" (click)="updateQuestion(user)">Edit User</button>
                            <img *ngIf="loading"
                                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>