<div class="col-md-6 col-md-offset-3" class="card-container">
    <mat-card >
        <mat-card-header>
            <mat-card-title class="text-center">
                <h2>{{action}}</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-container">
            <form name="form">
                <div *ngIf="isSignUp" class="form-group" [ngClass]="{ 'has-error': submitted && !user.name }">
                    <label for="name">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="user.name" required />
                    <div *ngIf="submitted && !user.name" class="help-block">
                            <div class="alert alert-warning">
                                    <strong>The username is required</strong>
                            </div>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': submitted && !user.email }">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="user.email" required />
                    <div *ngIf="submitted && !user.email" class="help-block">
                            <div class="alert alert-warning">
                                    <strong>The email is required</strong>
                            </div>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': submitted && !user.password }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required />
                    <div *ngIf="submitted && !user.password" class="help-block">
                            <div class="alert alert-warning">
                                    <strong>The password is required</strong>
                            </div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-secondary" (click)="enter()">{{ action }}</button>
                    <img *ngIf="loading"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </form>
        </mat-card-content>
    </mat-card>


</div>